<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <div class="container">
    <a class="navbar-brand">Historial Resultados </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0"
        *ngFor="let item of resultados"
      >
        <a class="nav-link active" aria-current="page" (click)="busqueda(item)"
          >{{ item }}
        </a>
      </ul>
      <div *ngIf="resultados.length >=1">
        <button type="button" class="btn btn-danger" (click)="delete()">
          eliminar Historial
        </button>

      </div>
    
      <app-input (enviar)="busqueda($event)"></app-input>
    </div>
  </div>
</nav>
